import React, { Component } from 'react';

// imports

export interface {{pascalCase name}}Props { }

class {{pascalCase name}} extends Component {

constructor(props: {{pascalCase name}}Props) {
super(props);
this.state = {};
}

render() {
return <div>{{pascalCase name}}</div>;
}
}

export default {{pascalCase name}};