import React, { FC } from 'react';
import { t } from '../../i18n';

// imports

export interface {{pascalCase name}}Props { }

const {{pascalCase name}}: FC<{{pascalCase name}}Props> = () => {
  return (
          <div>
            <h1>{{pascalCase name}}</h1>
            <p>{t('{{lowerCase name}}:{{pascalCase name}}')}</p>
          </div>
        );
  }

export default {{pascalCase name}};